<style>
    
    .backGround{        
        
        
        background-clip:content-box;
     
        
    }
    /*MWO refers make work orders*/
table.MWO {
  background: #DEDEDE;
  width:80%; 
  margin-left:10%; 
  margin-right:15%;
  border: 2px solid #6F6F6F;
  border-collapse: collapse;
}
table.MWO th {
    
  border: 2px solid #6F6F6F;
  border-collapse: collapse;
  width:11%;
  padding: 5px;
  text-align: left;
  font-weight:500;
  
}
  table.MWO  td {
  border: 2px solid #6F6F6F;
  border-collapse: collapse;
  width:50% ;
  padding: 5px;
  text-align: left;    
  
}
    

    
    .tableWidth {
     
   
  }
    .date {
     padding-left:5px;
     margin-left: 5px;
     width: 30%; 
     background-color:azure;
     box-shadow:5px 3px #888888;
     box-sizing: border-box;
     font-family: sans-serif;
     font-weight:500;

        
}
    .button {
        border: 2px solid #444444;
        border-radius: 7px;
        margin-left:10%;
        padding:5px;
        margin-top: 10px;
        box-shadow:5px 3px #888888;
        background-color:#E3EFBE;
        font-family: sans-serif;
        font-weight: bold;

    }
    
    .radio{
        border: 2px solid #444444;
        margin-left: 5px;
        background-color:azure;
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight:500;
    }
    
</style>


