html, body { 
	background-color: #f7f7f9;
}

.login-layout {
	height: 250px;
	width: 500px;
	background-color: pink;
	margin: auto;
	position: relative;

}

.button-log-in {
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}


.container-fluid, .container {
	margin-top: -24px;
	min-height: 100%;
	overflow: hidden;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: auto;
 }

.search-btn {
	color: orange;
	text-transform: uppercase;
	font-weight: bold;
}

.header-link {
	color: #473f39;
	text-transform: uppercase;
	border-bottom: none;
}

.header-link:hover {
	color: orange;
	text-decoration: none;
}

.current-header-link {
	color: orange;
}

.profile-layout {
	position: relative;
	
}

.profile-pic {
	float: left;
	height: 25%;
	width: 25%; 
	margin-right: 50px;
}

.profile-info {
	float: left;
	margin-top: 5%; 

}

.profile-info-edit {
	float: right;
	margin-right: 60px;
}

.profile-info-data {
	width: 50%;
	padding: 7px;
	
}

.edit-profile-info {
	float: right;
}

.save-profile-info {
	position: absolute;
	right:    50px;
	bottom:   0;
}